
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    French Select - Contactez-nous
{% endblock %}

{% block body %}

    <section class="container-fluid padding-start" id="section-start">
        <div class="container">
            <h1>Contactez French Select - Le showroom des professionnels 100% Tendance</h1>
            <form class="form_contact" id="form_contact" name="form_contact" method="post">
                <div class="form-group">
                    <select class="form-control" id="type">
                        <option>Vous êtes ... ?</option>
                        <option>Une marque</option>
                        <option>Une boutique</option>
                        <option>Un agent commercial</option>
                        <option>Autre</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Nom">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" id="tel" placeholder="Téléphone">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="address" placeholder="Adresse">
                </div>
                <div class="form-row">
                    <div class="form-group col-3">
                        <input type="text" class="form-control" id="zip" placeholder="Code Postal">
                    </div>
                    <div class="form-group col-5">
                        <input type="text" class="form-control" id="city" placeholder="Ville">
                    </div>
                    <div class="form-group col-4">
                        <input type="text" class="form-control" id="country" placeholder="Pays">
                    </div>
                </div>
                <div class="form-group">
                    <textarea type="text" maxlength="300" class="form-control" id="text" placeholder="Message"></textarea>
                </div>
                <div class="text-center"><button type="submit" class="button-fh p-2">Envoyer</button></div>
            </form>
        </div>
    </section>




{% endblock %}