
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - Contactez-nous
{% endblock %}

{% block body %}

    <div class="container-fluid padding-start" id="section-start">
        <div class="container">
            <h1>Contactez French Select - Le showroom des professionnels 100% Tendance</h1>
            <form>
                <div class="form-group">
                    <select class="form-control" id="type">
                        <option>Vous êtes ... ?</option>
                        <option>Une marque</option>
                        <option>Une boutique</option>
                        <option>Une agent commercial</option>
                        <option>Autre</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Nom">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" id="tel" placeholder="Téléphone">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Address" placeholder="Adresse">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputCity" placeholder="Ville">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" id="inputState" placeholder="Pays">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" id="inputZip" placeholder="Code Postal">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="message" placeholder="Message">
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>




{% endblock %}