
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    French Select - Le CRM en ligne simplifié
{% endblock %}

{% block body %}

    <section class="container-fluid padding-start home1" id="section-start">
        <div class="container">
            <h1>CRM</h1>

        </div>
    </section>





{% endblock %}