
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    French Select - Le showroom des marques de mode
{% endblock %}

{% block body %}

    <div class="container-fluid home1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Découvrez de nouvelles marques pour vos boutiques !</h1>
                    <h2>Un large catalogue de marques</h2>
                    <p>Difficile de s’y retrouver dans la jungle des marques de prêt à porter, d’accessoires et de décoration ? French Select sélectionne pour vous un large catalogue de marques de modes et décoration <u>gratuitement</u>.</p>
                    <h2>Un large catalogue de marques</h2>
                    <p>Retrouvez une sélection de marques de modes et de décoration en fonction de votre profil, au plus près des envies de vos clients. Nous sélectionnons l’ensemble de nos marques partenaires en fonction de leur sérieux, de leur style et de leur image.
                    <h2>Un large catalogue de marques</h2>
                    Retrouvez ces marques chez vous grâce notre showroom de modes digitale, dans nos salons régionaux et dans vos boutiques.
                    </p>
                </div>
                <div class="col-lg-6 text-center"><img src="{{ asset('bundles/app/img/list-brands.png') }}" alt="brands" class="img-fluid"/></div>
            </div>
            <div class="mt-4 mb-4"></div>
            <div class="row">
                <div class="col-lg-6 text-center"><img src="{{ asset('bundles/app/img/list-brands.png') }}" alt="brands" class="img-fluid"/></div>
                <div class="col-lg-6">
                    <h1>Découvrez de nouvelles marques pour vos boutiques !</h1>
                    <h2>Un large catalogue de marques</h2>
                    <p>Difficile de s’y retrouver dans la jungle des marques de prêt à porter, d’accessoires et de décoration ? French Select sélectionne pour vous un large catalogue de marques de modes et décoration.</p>
                    <h2>Un large catalogue de marques</h2>
                    <p>Retrouvez une sélection de marques de modes et de décoration en fonction de votre profil, au plus près des envies de vos clients. Nous sélectionnons l’ensemble de nos marques partenaires en fonction de leur sérieux, de leur style et de leur image.</p>
                    <h2>Un large catalogue de marques</h2>
                    <p>Retrouvez ces marques chez vous grâce notre showroom de modes digitale, dans nos salons régionaux et dans vos boutiques.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid home2">
        <div class="container">
            <div class="row mx-2 my-2 py-4 px-1">
                <div class="col-lg-1"> </div>
                <div class="col-lg-10">
                    <div class="row home-box mx-2 my-2 py-4 px-4">
                        <div class="col-lg-1"> </div>
                        <div class="col-lg-10">
                            <h1>Comment ça marche ?</h1>
                            <h2><span style="font-size:40px;padding-right:20px">01</span> Inscription</h2>
                            <p>Inscrivez-vous sur notre showroom de modes rapidement et gratuitement</p>
                            <h2><span style="font-size:40px;padding-right:20px">02</span> Un catalogue personnalisé</h2>
                            <p>Parcourez un large catalogue de marques de modes et de décoration et découvrez celles qui vous correspondent. Utilisez simplement des outils de recherche et des filtres avancées pour trouver les marques de modes et décoration que vous souhaitez voir.</p>
                            <h2><span style="font-size:40px;padding-right:20px">03</span> Commandez</h2>
                            <p>Commandez directement et simplement les produits des collections actuelles et à venir de toutes les marques. Nous vous fournissons des conseils de sélection de produits. En cas de besoin, une assistance vous sera proposée afin de faciliter la prise de commande.</p>
                            <h2><span style="font-size:40px;padding-right:20px">04</span> Suivi de commande</h2>
                            <p>Suivez vos commandes en temps réel grâce à des tableaux de bord complet et accédez à l’ensemble des documents dont vous avez besoin : commandes, factures, bons de livraison.</p>
                            <h2><span style="font-size:40px;padding-right:20px">05</span> Service clientèle</h2>
                            <p>Bénéficiez d’un service clientèle personnalisé et toujours disponible.</p>
                            <h2><span style="font-size:40px;padding-right:20px">06</span> Les salons French Select</h2>
                            <p>Venez découvrir les marques dans les salons que nous organisons près de chez vous.</p>
                        </div>
                        <div class="col-lg-1"> </div>
                    </div>
                </div>
                <div class="col-lg-1"> </div>
            </div>
        </div>
    </div>




{% endblock %}