{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - Nos marques
{% endblock %}

    {% block body %}
        <h1>Liste des Marques</h1>

       <div class="card-columns">
               {% for brand in brands %}






                   <div class="card card-marques">
                       <img class="card-img-top" src="{{ asset('bundles/app/img/anaik_1.jpg') }}">
                       <div class="card-body">
                           <h5 class="card-title">{{ brand.getName() }}</h5>
                       </div>
                   </div>




               {% endfor %}
           </div>

    {% endblock %}