{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Une marque
{% endblock %}

    {% block body %}
        <h1>LOOOOOL</h1>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Marque</th>
                <th>Pays</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ brand.getName() }}</td>
                {% for country in countries %}
                    {% if brand.getCountry.Id() == country.getId() %}
                        <td>{{ country.getName() }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endblock %}