{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Salon
{% endblock %}

    {% block body %}
        <div class="container-fluid " id="section-start">

        <h1>Le salon</h1>

       {{ salon.getName() }}
        </div>
    {% endblock %}