
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - La plateforme en ligne 24h/7j
{% endblock %}

{% block body %}
    <section class="container-fluid padding-start" id="section-start">
    <h1> Offre détaillée Showroom digital </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum fringilla quam egestas elementum. Quisque rutrum nulla non vulputate viverra. Donec in felis et dui iaculis vestibulum. Etiam placerat consequat mauris, in fermentum justo venenatis a. Proin dignissim libero sem, nec sodales est porta vel. Aliquam erat volutpat. Suspendisse auctor vestibulum dolor sed luctus. Donec imperdiet dui sit amet sapien pretium molestie. Duis a mauris et nibh semper venenatis mattis eu odio. Sed blandit enim eu consectetur pulvinar. Morbi sollicitudin nulla sed justo vulputate, non feugiat nisl aliquam. Nullam vulputate pulvinar odio sed iaculis. Vestibulum convallis tortor ac nisl consequat congue. Sed libero nulla, faucibus sit amet nisi a, euismod condimentum turpis. Donec in ligula hendrerit, varius diam vel, ultrices nunc. Proin volutpat scelerisque rutrum.
    </p>
    </section>

    <section class="container-fluid">
        <div class="container">
            <h2>Des outils de gestions simplifiés</h2>
            <div class="row">
                <div class="col-md">
                    Gestion des collections
                </div>
                <div class="col-md">
                    Gestion des clients
                </div>
                <div class="col-md">
                    Gestion des commandes
                </div>
                <div class="col-md">
                    Gestion des commerciaux
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    Gestion des factures
                </div>
                <div class="col-md">
                    Gestion des paiements
                </div>
                <div class="col-md">
                    Gestion des livraisons
                </div>
                <div class="col-md">
                    Assistance et supports
                </div>
            </div>
        </div>
    </section>



{% endblock %}