/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
*.xml
composer.lock
.idea/workspace.xml___jb_tmp___
src/.DS_Store
src/AppBundle/.DS_Store
src/AppBundle/Resources/.DS_Store
src/AppBundle/Resources/public/.DS_Store
.DS_Store
bin/composer.phar
.idea/siteVitrine.iml
.idea/siteVitrine.iml
src/AppBundle/Entity/Brand.php
src/AppBundle/Entity/Brand.php
